/*=================================
IMPORTED FONTS
=================================*/
/* footer colors */
/* ========================= MIXINS =============================== */
/* @include transition(all,0.2s,ease-out); */
/* ============== GENERAL STYLES =============== */
*,
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 1.5s;
  box-sizing: border-box;
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  font-family: "montserratlight", Helvetica, serif;
  background: #e2e2e2;
  color: #969595;
  width: 100%;
  margin: 0 auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
img,
p {
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: block;
}

/* =============== MAIN STYLES =============== */
#main {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.wrapper .container {
  margin-top: 20vh;
  display: flex;
  position: relative;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 767px) {
  .wrapper .container {
    width: 70vw;
    margin-top: 22vh;
  }
}
@media (min-width: 979px) {
  .wrapper .container {
    width: 90vw;
  }
}
.wrapper .container .listItem {
  position: relative;
  background: rgba(255, 255, 255, 0.76);
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.05);
  text-align: center;
  margin: 0 auto;
  width: 80vw;
  height: 80vw;
  overflow: hidden;
  border-radius: 6px;
  padding: clamp(1.5rem, 1.25vw, 2vw);
  margin-bottom: 6vw;
  transition: 0.25 all ease-in-out;
}
@media (min-width: 767px) {
  .wrapper .container .listItem {
    width: 43vw;
    height: 43vw;
  }
}
@media (min-width: 979px) {
  .wrapper .container .listItem {
    width: 26vw;
    height: 26vw;
  }
}
.wrapper .container .listItem .imageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 6vw;
}
@media (min-width: 767px) {
  .wrapper .container .listItem .imageText {
    padding: 2.5vw;
  }
}
.wrapper .container .listItem .imageText .imageHash {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  color: #e6e4df;
  font-weight: 100;
  line-height: 1.25;
  letter-spacing: 0.001rem;
  position: absolute;
  top: 6vw;
  left: 6vw;
  opacity: 0;
  transition: 0.55s all ease-in-out;
  transform: translateX(-20%);
}
@media (min-width: 767px) {
  .wrapper .container .listItem .imageText .imageHash {
    top: 2.5vw;
    left: 2.5vw;
  }
}
.wrapper .container .listItem .imageText:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.25s opacity ease-in-out;
}
.wrapper .container .listItem img {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: 0.25s all ease-in-out;
  transform: scale(1);
  overflow: hidden;
}
.wrapper .container .listItem img:hover {
  transform: scale(1);
  filter: grayscale(1);
  cursor: pointer;
}
.wrapper .container .listItem:hover .imageText > .imageHeader {
  transform: translateY(0);
  opacity: 1;
}
.wrapper .container .listItem:hover .imageText > .imagebody {
  transform: translateY(0);
  opacity: 1;
}
.wrapper .container .listItem:hover .imageText > .imageHash {
  transform: translateX(0);
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: 0.35s all ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.slide-fade-leave-active {
  transition: 0.35s all ease-in-out;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transition: 0.35s all ease-in-out;
  opacity: 0;
  transform: translateY(-100%);
}

.showButton {
  width: 1rem;
  height: 1rem;
}

.imageHeader {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: clamp(2rem, 2vw, 2.4rem);
  color: #e6e4df;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.001rem;
  opacity: 0;
  transition: 0.5s all ease-in-out;
  transform: translateY(-200%);
  text-align: left;
}

.imagebody {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: clamp(2rem, 2vw, 1.8rem);
  color: #e6e4df;
  font-weight: 100;
  line-height: 1.25;
  letter-spacing: 0.05rem;
  color: #934d7c;
  top: -100%;
  opacity: 0;
  transition: 0.75s all ease-in-out;
  transform: translateY(300%);
}

.userDetails {
  display: flex;
}

#getMore {
  padding: 1rem 2rem;
  background: #242526;
  color: #934d7c;
  margin: 0 auto;
  margin-bottom: 2rem;
  transition: all 0.25s ease-in-out;
}

#getMore:hover {
  padding: 1rem 3rem;
  color: #e6e4df;
  cursor: pointer;
}

.formContainer {
  background: #242526;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0 auto;
  z-index: 100;
}
.formContainer .identItems {
  background: #242526;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: calc(1rem + 1vw);
  padding-bottom: calc(2rem + 1vw);
  z-index: 5;
  width: 100%;
}
.formContainer .identItems .logoForm {
  width: clamp(30%, 7vw, 9vw);
  margin-bottom: 0;
}
.formContainer .identItems .headerText {
  border-top: 1px solid rgba(187, 187, 187, 0.25);
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.3;
  letter-spacing: 0.001rem;
  padding-top: 0.5rem;
  font-style: italic;
  color: #934d7c;
  margin-top: 2rem;
  letter-spacing: 0.05rem;
  text-align: center;
}
.formContainer #camera {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  left: 50%;
  width: calc(2rem + 1vw);
  cursor: pointer;
  z-index: 200;
  background: #242526;
  border-radius: 100%;
  border: 1px solid #e2e2e2;
  transition: all 0.25s ease-in-out;
}
.formContainer #camera:hover {
  transition: all 0.25s ease-in-out;
  border: 1px solid #e2e2e2;
  background: #934d7c;
}

.formFieldsWrapper {
  position: absolute;
  background: #242526;
  background: rgba(0, 0, 0, 0.9);
  width: 70vw;
  left: 0;
  top: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 99;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.25s all ease-in-out;
  margin-left: 15vw;
  z-index: -1;
}

.formFieldsContainer {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputsContainer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: calc(1rem + 1vw);
  display: flex;
  justify-content: space-around;
}

.uploadsContainer {
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
}

.uploadButton {
  text-transform: uppercase;
  font-size: calc(0.75rem + 0.5vw);
  color: #934d7c;
  background: #242526;
  border: none;
  padding: 0.9rem 2.25rem;
  transition: 0.25s all ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

.uploadButton:hover {
  color: #e6e4df;
  background: #934d7c;
}

label[for=file-input] {
  display: block;
  margin-bottom: 1rem;
  font-size: calc(0.25rem + 0.5vw);
  color: #fff;
  opacity: 0.9;
  font-weight: bold;
  padding: 0.9rem 2.25rem;
  cursor: pointer;
}

input[type=file] {
  cursor: pointer;
}

input[type=file]:focus {
  outline: none;
  border: none;
}

input[type=file]::-webkit-file-upload-button {
  color: #934d7c;
  font-size: calc(0.75rem + 0.5vw);
  background: #242526;
  border: 0;
  padding: 0 1rem;
  padding: 0.9rem 2.25rem;
  outline: none;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
  border-radius: 5px;
  margin-right: 2rem;
}

input[type=file]::-webkit-file-upload-button:hover {
  color: #242526;
  background: #934d7c;
}

input#file-input:active,
input#file-input:focus-within,
input#file-input:focus {
  outline: none;
}

input[type=file]::-ms-browse {
  background: #934d7c;
  border: 0;
  padding: 0rem 1rem;
  cursor: pointer;
  color: #934d7c;
  outline: none;
}

#file-input {
  width: 100%;
  line-height: 1.4;
  font-size: calc(0.75rem + 0.5vw);
}

#file-input:focus {
  background: none;
  color: #934d7c;
}

/* =============== CONTACT SECTION - HOME PAGE =============== */
input,
textarea,
select,
label,
fieldset {
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.4rem;
  box-sizing: border-box;
  outline: none;
}

input.genInput {
  /* ---------- email/name boxes ---------- */
  border: none;
  height: 2.5vh;
  width: 28%;
  padding: calc(1rem + 1vw);
  margin-bottom: 0.75vw;
  font-size: calc(0.75rem + 0.5vw);
  color: #934d7c;
  background: #242526;
  opacity: 1;
}

/* ---------- when clicked ---------- */
input:focus,
input:visited {
  outline: none;
}

button:focus {
  outline: none;
}

/* ---------- email/name boxes ---------- */
input::placeholder {
  font-size: calc(0.75rem + 0.5vw);
  color: #e6e4df;
  color: #4c4c4c;
  padding-bottom: 1rem;
}

textarea {
  /* ---------- main message box ---------- */
  background: #e3e6e6;
  border-radius: 3px;
  border: none;
  font-size: 1.6rem;
  line-height: 1.5;
  height: 19vh;
  margin-top: 2rem;
  margin-right: 20px;
  outline: none;
  padding: 10px 20px 10px 20px;
  width: 100%;
}

input:focus,
textarea:focus {
  /* ---------- input text colour ---------- */
  transition: 0.25s all ease-in-out;
  background: #4c4c4c;
  border: none;
  color: #333333;
  color: #934d7c;
  outline: none;
}

@media all and (max-width: 780px) {
  .inputsContainer {
    flex-direction: column;
  }

  input.genInput {
    padding: 4vw;
    width: 100%;
    margin-bottom: 2vh;
  }

  .formFieldsWrapper {
    width: 90vw;
  }

  .formFieldsWrapper {
    width: 90vw;
    margin-left: 5vw;
  }
}
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: rgba(51, 51, 51, 0.7);
  z-index: 101;
  overflow-y: auto;
}

.wrapperModal {
  position: absolute;
  top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  background: #242526;
  padding: calc(2rem + 1vw);
  width: 50vw;
  height: auto;
}

#close-modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #242526;
  border: none;
  border-radius: 100%;
  width: calc(2rem + 1vw);
  height: calc(2rem + 1vw);
  margin-top: calc(-1rem - 0.5vw);
  font-size: calc(1rem + 0.5vw);
  line-height: 1vw;
  font-weight: bold;
  color: #934d7c;
}

#close-modal:hover {
  cursor: pointer;
}

.descContainer {
  position: relative;
  width: 100%;
}

.imageTitle {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: clamp(2.4rem, 5vw, 3.6rem);
  color: #e6e4df;
  font-weight: 100;
  line-height: 1.07;
  letter-spacing: 0.001rem;
  color: #934d7c;
  margin-bottom: 0;
}

.userDescription {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: clamp(2rem, 2vw, 2.4rem);
  color: #e6e4df;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.001rem;
}

.userNameText {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: calc(1.1rem + 0.3vw);
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.3;
  letter-spacing: 0.001rem;
  color: #934d7c;
}

.imageID {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: clamp(2.4rem, 5vw, 3.6rem);
  color: #e6e4df;
  font-weight: 100;
  line-height: 1.07;
  letter-spacing: 0.001rem;
  color: #e6e4df;
}

.timestampText {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: calc(1.1rem + 0.3vw);
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.3;
  letter-spacing: 0.001rem;
}

.viewComments {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: clamp(2rem, 2vw, 2.4rem);
  color: #e6e4df;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.001rem;
  margin-top: 3rem;
  text-align: center;
  font-size: 2.5rem;
  border-top: 1px solid rgba(76, 76, 76, 0.8);
  padding-top: 2rem;
}

.commentInput {
  width: 80%;
  display: block;
  min-height: 7rem;
  background: #934d7c;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: #e6e4df;
  margin-bottom: 1rem;
  outline: 0;
  border: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}

input::placeholder {
  font-size: calc(0.75rem + 0.5vw);
  color: #e6e4df;
}

input::placeholder:hover {
  color: red;
}

.formUser input {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  background: #333333;
  color: #e6e4df;
  border: none;
  outline: none;
  display: block;
  padding: 1.25rem;
  border-radius: 5px;
  transition: 0.25s all ease-in-out;
}

.formUser input:hover {
  background: #934d7c;
  cursor: pointer;
  color: black;
}

.formUser button {
  width: 30%;
  padding-left: 1rem;
  background: #333333;
  color: #e6e4df;
  border: none;
  outline: none;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
  display: block;
  padding: 1.25rem;
  transition: 0.25s all ease-in-out;
}

.formUser button:hover,
.formUser button:focus {
  background: #934d7c;
  cursor: pointer;
}

.comment-container {
  width: 100%;
  height: auto;
  display: inline-block;
  background: #934d7c;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: #242526;
  margin-bottom: 1rem;
  width: 90%;
  flex-direction: column;
  margin-right: 10%;
}

.comment-container:nth-child(odd) {
  background: rgba(22, 175, 203, 0.35);
  margin-left: 10%;
}

.commentsName {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: calc(1.1rem + 0.25vw);
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  color: #e6e4df;
}

.commentsUsername {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.3;
  letter-spacing: 0.001rem;
  color: #e6e4df;
}

.commentsUsername span {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.3;
  letter-spacing: 0.001rem;
  color: black;
}

.comment-container:nth-child(odd) .commentsUsername {
  text-align: right;
}

.comment-container:nth-child(odd) .commentsName {
  text-align: right;
}

@media all and (max-width: 908px) {
  .wrapperModal {
    width: 90vw;
  }
}

/*# sourceMappingURL=style.css.map */
