/*=================================
IMPORTED FONTS
=================================*/
// @import url("/fonts/spartan/spartan_stylesheet.css");
@import url("/fonts/montserrat/montserrat_stylesheet.css");
@import url("/fonts/montserrat/montserrat_stylesheet.css");
// @import url("/fonts/fanwood/fanwood_stylesheet.css");
@import url("/fonts/playfair_display/playfair_stylesheet.css");

//* ========= GENERAL COLOURS

$primary-color: rgba(36, 37, 38, 1); // greeny color
$secondary-color: rgba(147, 78, 86, 1); // dark blue
$secondary-color-75: rgba(12, 8, 76, 0.75);
$third-color: rgba(9, 99, 134, 0.75); // light blue
$fourth-color: rgba(22, 175, 203, 0.35); // beige ;
$header-color: rgba(36, 37, 38, 1);
// $complimentary-color: rgba(105, 105, 105, 1);
$complimentary-color: rgba(76, 76, 76, 1);
//
$accent-color: rgba(51, 51, 51, 1);
$light-accent-color: rgba(230, 228, 223, 1);
//
$backgroundColour: #e2e2e2;
// $overlayColor: rgba(270, 270, 270, 0.05);
$line-color: rgba(187, 187, 187, 0.25); // header color

/* footer colors */

//* ========= FONT COLOURS

$primary-font-color: #969595; // main header grey
$bodyTextColor: rgba(51, 51, 51, 0.7);

//* ========= FONTS
$bodytext: "montserratlight";
$serifHeader: "playfair_displaybold";
$serifBody: "playfair_displayregular";
$overlayText: "montserratsemi_bold";
$spanText: "playfair_displayitalic";
$mainheaderfont: "montserratregular";

//* ======== FONTS MIXINS
// Main Headers
@mixin h1-headers-playfair-display(
    $size: calc(3rem + 0.8vw),
    $colour: $primary-color,
    $weight: 700,
    $lh: 0.95,
    $ls: 0.05rem
) {
    font-family: "playfair_displayregular", Georgia, serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin H5-Headers-playfair-display(
    $size: calc(1rem + 0.8vw),
    $colour: $complimentary-color,
    $weight: 300,
    $lh: 0.7,
    $ls: 0.05rem
) {
    font-family: "playfair_displayregular", Georgia, serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
// Main Body Text

@mixin BodyText-montserrat(
    $size: calc(1rem + 0.6vw),
    $colour: $complimentary-color,
    $weight: 100,
    $lh: 1.5,
    $ls: 0.05rem
) {
    font-family: "montserratregular", Helvetica, sans-serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin H1-Headers-montserrat(
    $size: calc(2rem + 0.6vw),
    $colour: $primary-color,
    $weight: 100,
    $lh: 1.07,
    $ls: 0.001rem
) {
    font-family: "montserratregular", Helvetica, sans-serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin H2-Headers-montserrat(
    $size: calc(1.8rem + 0.5vw),
    $colour: $complimentary-color,
    $weight: 100,
    $lh: 1.25,
    $ls: 0.001rem
) {
    font-family: "montserratregular", Helvetica, sans-serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin H3-Headers-montserrat(
    $size: calc(1.1rem + 0.5vw),
    $colour: $complimentary-color,
    $weight: 100,
    $lh: 1.25,
    $ls: 0.001rem
) {
    font-family: "montserratregular", Helvetica, sans-serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin H4-Headers-montserrat(
    $size: calc(1.1rem + 0.3vw),
    $colour: $complimentary-color,
    $weight: 100,
    $lh: 1.3,
    $ls: 0.001rem
) {
    font-family: "montserratregular", Helvetica, sans-serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin H5-Headers-montserrat(
    $size: calc(1rem + 0.3vw),
    $colour: $complimentary-color,
    $weight: 100,
    $lh: 1.3,
    $ls: 0.001rem
) {
    font-family: "montserratregular", Helvetica, sans-serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin LightText-montserrat(
    $size: calc(1.1rem + 0.25vw),
    $colour: $complimentary-color,
    $weight: 100,
    $lh: 1.35,
    $ls: 0.0025rem
) {
    font-family: "montserratlight", Helvetica, sans-serif;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
