/* ============== GENERAL STYLES =============== */

*,
html {
    font-size: 62.5%;
}

body {
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
    animation: fadein 1.5s;
    box-sizing: border-box;
    margin: 0;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
* html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
img,
p {
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: block;
}

/* =============== MAIN STYLES =============== */

body {
    /* Sets the width of the body */
    font-size: 10px;
    font-size: 1rem;
    line-height: 1.4;
    font-family: $bodytext, Helvetica, serif;
    background: $backgroundColour;
    color: $primary-font-color;
    width: 100%;
    margin: 0 auto;
}
#main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.container {
    margin-top: 25vh;
    display: flex;
    position: relative;
    width: 75vw;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: 0.25s all ease-in-out;
    transform: scale(1);
    overflow: hidden;
}
.container img:hover {
    transform: scale(1);
    filter: grayscale(1);
    cursor: pointer;
}
.listItem {
    position: relative;
    background: rgba(270, 270, 270, 0.76);
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    width: 23vw;
    height: 23vw;
    overflow: hidden;
    padding: 0.75vw;
    margin-bottom: 2vw;
    transition: 0.25 all ease-in-out;
}

// container block for text
.listItem .imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: left;
    padding: 2.5vw;
}
.listItem .imageText:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.25s opacity ease-in-out;
}
.imageText:hover #one {
}

// FOR POPUP MODAL
// from vue transitions for modal popup
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

// FOR DROP DOWN MENU
// from vue transitions for drop down menu
/* Enter and leave animations can use different */
/* durations and timing functions.              */

// ON BUTTON PRESS
.slide-fade-enter-active {
    transition: 0.35s all ease-in-out;
    opacity: 1;
    transform: translateY(0);
}
// OFF BUTTON PRESS
.slide-fade-leave-active {
    // transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
    // top: 0;
    // transform: translateY(-100%);
    // transform: translateY(145px);
    transition: 0.35s all ease-in-out;
}
// TRANSITION BETWEEN

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    // transform: translateY(0);
    transition: 0.35s all ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
}

.showButton {
    width: 1rem;
    height: 1rem;
}
#one {
    @include H3-Headers-montserrat;
    color: $light-accent-color;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    transform: translateY(-200%);
}
#two {
    @include H4-Headers-montserrat;
    color: $secondary-color;
    top: -100%;
    opacity: 0;
    transition: 0.75s all ease-in-out;
    transform: translateY(300%);
}
.userDetails {
    display: flex;
}
.listItem:hover .imageText > #one {
    transform: translateY(0);
    opacity: 1;
}
.listItem:hover .imageText > #two {
    transform: translateY(0);
    opacity: 1;
}
#hashsign {
    @include H1-Headers-montserrat;
    position: absolute;
    color: $light-accent-color;
    top: 2.5vw;
    left: 2.5vw;
    opacity: 0;
    transition: 0.55s all ease-in-out;
    transform: translateX(-20%);
}
.listItem:hover .imageText > #hashsign {
    opacity: 1;
    transform: translateX(0);
}

#getMore {
    padding: 1rem 2rem;
    background: $header-color;
    color: $secondary-color;
    margin: 0 auto;
    margin-bottom: 2rem;
    transition: all 0.25s ease-in-out;
}
#getMore:hover {
    padding: 1rem 3rem;
    color: $light-accent-color;
    cursor: pointer;
}

/* =============== MEDIA QUERIES =============== */

@media all and (min-width: 767px) and (max-width: 979px) {
    .container {
        width: 90vw;
    }
    .listItem {
        width: 43vw;
        height: 43vw;
    }
}

@media all and (max-width: 767px) {
    .container {
        width: 90vw;
    }
    .listItem {
        width: 80vw;
        height: 80vw;
    }
    .listItem .imageText {
        padding: calc(1.5rem + 2vw);
    }
}
