/* ============== GENERAL STYLES =============== */

*,
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
    animation: fadein 1.5s;
    box-sizing: border-box;
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
    font-family: $bodytext, Helvetica, serif;
    background: $backgroundColour;
    color: $primary-font-color;
    width: 100%;
    margin: 0 auto;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

img,
p {
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: block;
}

/* =============== MAIN STYLES =============== */

#main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    & .container {
        margin-top: 20vh;
        display: flex;
        position: relative;
        width: 90vw;
        flex-wrap: wrap;
        justify-content: space-between;
        @include minWidthQuery("767px") {
            width: 70vw;
            margin-top: 22vh;
        }
        @include minWidthQuery("979px") {
            width: 90vw;
        }
        & .listItem {
            position: relative;
            background: rgba(270, 270, 270, 0.76);
            box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.05);
            text-align: center;
            margin: 0 auto;
            width: 80vw;
            height: 80vw;
            overflow: hidden;
            border-radius: 6px;
            padding: clamp(1.5rem, 1.25vw, 2vw);
            margin-bottom: 6vw;
            transition: 0.25 all ease-in-out;
            @include minWidthQuery("767px") {
                width: 43vw;
                height: 43vw;
            }
            @include minWidthQuery("979px") {
                width: 26vw;
                height: 26vw;
            }
            & .imageText {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                opacity: 0;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;
                text-align: left;
                padding: 6vw;
                @include minWidthQuery("767px") {
                    padding: 2.5vw;
                }
                & .imageHash {
                    @include H2-Headers-montserrat;
                    position: absolute;
                    top: 6vw;
                    left: 6vw;
                    opacity: 0;
                    transition: 0.55s all ease-in-out;
                    transform: translateX(-20%);
                    @include minWidthQuery("767px") {
                        top: 2.5vw;
                        left: 2.5vw;
                    }
                }
                &:hover {
                    opacity: 1;
                    background: rgba(0, 0, 0, 0.8);
                    transition: 0.25s opacity ease-in-out;
                }
            }
            & img {
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                transition: 0.25s all ease-in-out;
                transform: scale(1);
                overflow: hidden;
                &:hover {
                    transform: scale(1);
                    filter: grayscale(1);
                    cursor: pointer;
                }
            }
            &:hover .imageText > .imageHeader {
                transform: translateY(0);
                opacity: 1;
            }
            &:hover .imageText > .imagebody {
                transform: translateY(0);
                opacity: 1;
            }
            &:hover .imageText > .imageHash {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}

// container block for text

// FOR POPUP MODAL
// from vue transitions for modal popup
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

// FOR DROP DOWN MENU
// from vue transitions for drop down menu
/* Enter and leave animations can use different */
/* durations and timing functions.              */

// ON BUTTON PRESS
.slide-fade-enter-active {
    transition: 0.35s all ease-in-out;
    opacity: 1;
    transform: translateY(0);
}
// OFF BUTTON PRESS
.slide-fade-leave-active {
    // transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
    // top: 0;
    // transform: translateY(-100%);
    // transform: translateY(145px);
    transition: 0.35s all ease-in-out;
}
// TRANSITION BETWEEN

.slide-fade-enter,
.slide-fade-leave-to {
    transition: 0.35s all ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
}

.showButton {
    width: 1rem;
    height: 1rem;
}
.imageHeader {
    @include H3-Headers-montserrat;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    transform: translateY(-200%);
    text-align: left;
}
.imagebody {
    @include BodyText-montserrat;
    color: $secondary-color;
    top: -100%;
    opacity: 0;
    transition: 0.75s all ease-in-out;
    transform: translateY(300%);
}
.userDetails {
    display: flex;
}

#getMore {
    padding: 1rem 2rem;
    background: $header-color;
    color: $secondary-color;
    margin: 0 auto;
    margin-bottom: 2rem;
    transition: all 0.25s ease-in-out;
}
#getMore:hover {
    padding: 1rem 3rem;
    color: $light-accent-color;
    cursor: pointer;
}
