////////////////////////////////////
// MODAL FIELD /////////////////////
////////////////////////////////////

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: $bodyTextColor;
    z-index: 101;
    overflow-y: auto;
    & .wrapperModal {
        position: absolute;
        top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-radius: 5px;
        background: $header-color;
        padding: calc(2rem + 1vw);
        width: 90vw;
        height: auto;
        @include minWidthQuery("767px") {
            width: 50vw;
        }
        & .modalContainer__InnerContainer {
            padding: 1.25rem;
            & #close-modal {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background: $header-color;
                border: none;
                border-radius: 100%;
                width: calc(2rem + 1vw);
                height: calc(2rem + 1vw);
                margin-top: calc(-1rem - 0.5vw);
                font-size: calc(1rem + 0.5vw);
                line-height: 1vw;
                font-weight: bold;
                color: $secondary-color;
                transition: 0.25s color ease-in-out;
                &:hover {
                    cursor: pointer;
                    transition: 0.25s color ease-in-out;
                    color: white;
                }
            }
            & .descContainer {
                position: relative;
                width: 100%;
                margin-top: 3rem;
                @include H4-Headers-montserrat;
                &__title {
                    font-size: inherit;
                    color: $secondary-color;
                    font-weight: 700;
                    & .userId {
                        font-size: inherit;
                    }
                }
                &__description {
                    @include H3-Headers-montserrat;
                }
                &__timestamp {
                    font-size: clamp(1.25rem, 1.5vw, 1.4rem);
                    & .userName {
                        font-size: inherit;
                        font-weight: 700;
                        color: $secondary-color;
                    }
                }
            }
            // post comments
            & #commentFormContainer {
                width: 100%;
                & .commentInput {
                    width: 100%;
                    display: block;
                    min-height: 3rem;
                    background: $accent-color;
                    border-radius: 5px;
                    padding: 1rem 2rem;
                    color: $light-accent-color;
                    margin-bottom: 1rem;
                    outline: 0;
                    border: none;
                    text-align: left;
                    margin: 0 auto;
                    margin-bottom: 2rem;
                    transition: 0.15s background ease-in-out;
                    @include minWidthQuery("767px") {
                        min-height: 10rem;
                    }
                    &::placeholder {
                        font-size: calc(0.75rem + 0.5vw);
                        color: $light-accent-color;
                    }
                    &:focus {
                        transition: 0.25s background ease-in-out;
                        background: $secondary-color;
                        color: rgba(270, 270, 270, 0.25);
                    }
                }
                & .formUser {
                    input {
                        width: 50%;
                        text-align: left;
                        margin: 0 auto;
                        background: $accent-color;
                        border: none;
                        outline: none;
                        display: block;
                        padding: 1.25rem;
                        border-radius: 5px;
                        transition: 0.25s color ease-in-out;
                        color: $light-accent-color;
                        &::placeholder {
                            color: $light-accent-color;
                        }
                        &::placeholder:focus {
                            color: rgba(270, 270, 270, 0.25);
                        }
                        &:focus {
                            transition: 0.25s background ease-in-out;
                            background: $secondary-color;
                            cursor: pointer;
                        }
                    }
                    & button {
                        padding-left: 1rem;
                        background: $accent-color;
                        color: $light-accent-color;
                        border: none;
                        outline: none;
                        margin: 0 auto;
                        margin-top: 4rem;
                        text-align: center;
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        display: block;
                        padding: 1.25rem 2rem;
                        margin-bottom: 0;
                        transition: 0.25s all ease-in-out;
                        &:hover {
                            background: $secondary-color;
                            cursor: pointer;
                        }
                    }
                }
            }
            // view comments
            & .viewComments {
                @include H4-Headers-montserrat;
                margin-top: 3rem;
                text-align: center;
                border-top: 1px solid rgba($complimentary-color, 0.8);
                padding: 2rem;
            }
            & .commentContainer {
                width: 100%;
                height: auto;
                display: inline-block;
                background: $secondary-color;
                border-radius: 5px;
                padding: 1rem 2rem;
                color: $header-color;
                margin-bottom: 1rem;
                width: 90%;
                flex-direction: column;
                margin-right: 10%;
                &:nth-child(even) {
                    background: $fourth-color;
                    margin-left: 10%;
                    text-align: right;
                }
                &__comment {
                    @include H3-Headers-montserrat;
                    font-size: clamp(1.6rem, 2vw, 1.8rem);
                    color: $light-accent-color;
                }
                &__username {
                    @include H5-Headers-montserrat;
                    color: $light-accent-color;
                    span {
                        @include H5-Headers-montserrat;
                        color: $accent-color-75;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
